<!DOCTYPE html>
<html lang="en" ng-app="apiApp" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <base href="/">
</head>
<body>
  <h1> hooray </h1>
  <div ng-view>

  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>

  <script src="/client/app.js"></script>
  <script src="/client/loginController.js"></script>
</body>
</html>
